.idea/
*.iml
.vscode/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.py,cover

allure-results/
allure-report/
logs/
*.log
screenshots/

config.yaml
.env
.venv
pip-log.txt
pip-delete-this-directory.txt